<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csd.pahmehvolta" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="new_volta.NewVoltaActivity"
            android:label="@string/app_name" />
        <activity
            android:name="new_group.NewGroupActivity"
            android:label="@string/app_name" />
        <activity
            android:name="user_profile.ProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ThreeTabbedScreen"
            android:label="@string/title_activity_three_tabbed_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
